@import '../../styles/vars';
.link {
  background-color: $ligthGray;
  width: 100%;
  padding: 30px;
  border-bottom: 2px solid $base;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(1, 1fr);

  @media (min-width: $medium){
    grid-template-columns: repeat(3, 30% 50% 20%);
  }
  
}

.image {
  width: 160px;
  height: 160px;
  justify-self: center;
  img {
    width: 100%;
  }
}

.info {
  text-align: center;
  color: $text;
  margin-top: 20px;

  @media (min-width: $medium){
    text-align: left;
    margin: 0;
  }
}

.title {
  font-size: 20px;

  @media (min-width: $medium){
    margin-top: 20px;
  }
}

.price {
  font-size: 24px;
}